#navbar {
    height: 45px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

#navbartext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 700;
    font-size: 16px;
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="0 0 48 48"%3E%3Cmask id="ipSRightC0"%3E%3Cg fill="none" stroke-linejoin="round" stroke-width="4"%3E%3Cpath fill="%23fff" stroke="%23fff" d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z"%2F%3E%3Cpath stroke="%23000" stroke-linecap="round" d="m21 33l9-9l-9-9"%2F%3E%3C%2Fg%3E%3C%2Fmask%3E%3Cpath fill="%2320c997" d="M0 0h48v48H0z" mask="url(%23ipSRightC0)"%2F%3E%3C%2Fsvg%3E');
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="0 0 48 48"%3E%3Cmask id="ipSLeftC0"%3E%3Cg fill="none" stroke-linejoin="round" stroke-width="4"%3E%3Cpath fill="%23fff" stroke="%23fff" d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z"%2F%3E%3Cpath stroke="%23000" stroke-linecap="round" d="m27 33l-9-9l9-9"%2F%3E%3C%2Fg%3E%3C%2Fmask%3E%3Cpath fill="%2320c997" d="M0 0h48v48H0z" mask="url(%23ipSLeftC0)"%2F%3E%3C%2Fsvg%3E');
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-caption {

    -webkit-tap-highlight-color: rgba(0, 0, 0, .5);
    background: rgba(39, 43, 48, .8);
    right: 20%;
    left: 20%;
    border-radius: 8px;
    padding-bottom: 8px;
}

.hltext {
    color: #20c997;
    font-size: inherit;
    font-weight: 400;
}

.bold_title {
    font-size: 3rem;
}

.btn-outline-primary {
    color: #20c997;
    border-color: #20c997;

}

.contentct {
    height: calc(100vh - 45px);
    padding-top: 20px;
    background: rgb(154, 176, 166);
    background: linear-gradient(0deg, rgba(154, 176, 166, 0.5606617647058824) 0%, rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 992px) {
    .contentct {
        padding-top: 10vh;
    }
}