fastapi==0.95.1
uvicorn==0.20.0
numpy==1.24.2
pandas==2.0.0
dash==2.11.0
Flask==2.2.3
requests
requests-cache==1.0.1
python-keycloak==2.15.3
PyJWT==2.6.0
plotly==5.11.0
dash-mantine-components==0.12.1
dash-iconify==0.1.2
dash-bootstrap-components==1.4.1
dash-bootstrap-templates==1.0.8
dash-quill==0.0.4
h3==3.7.6
pydantic==1.10.2
redis==4.5.5
markdownify==0.11.6
markdown==3.4.3
bleach==6.0.0
scipy==1.10.1
python-dotenv==1.0.0

